root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,jsx,ts,tsx}]
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab

# Matches the exact files either package.json or .travis.yml
[{package.json,./*.yml}]
indent_style = space
indent_size = 2
